import './globals.css';

@font-face {
  font-family: 'Computer Modern';
  src: url('/fonts/cmunrm.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('/fonts/cmunbx.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('/fonts/cmunti.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Computer Modern', serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Computer Modern', serif;
}


