@font-face {
  font-family: 'Computer Modern';
  src: url('/fonts/cmunrm.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('/fonts/cmunbx.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('/fonts/cmunti.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
